@font-face {
    font-family: 'Neue Haas Unica';
    src: url(../fonts/neue-haas-unica/NeueHaasUnicaPro-Regular.ttf);
}

@font-face {
    font-family: 'Neue Haas Unica';
    font-style: italic;
    src: url(../fonts/neue-haas-unica/NeueHaasUnicaPro-Italic.ttf);
}

@font-face {
    font-family: 'Neue Haas Unica';
    font-weight: bold;
    src: url(../fonts/neue-haas-unica/NeueHaasUnicaPro-Bold.ttf);
}

@font-face {
    font-family: 'Neue Haas Unica';
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/neue-haas-unica/NeueHaasUnicaPro-BoldItalic.ttf);
}

.about-container {

  &__icon {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 25%;
    top: 35%;
    display: inline-block;
    vertical-align: middle;
  }
}

.contact-container {
  width: 100%;
  height: 100vh;

  &__graphic {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 25%;
    top: 35%;
    display: inline-block;
    vertical-align: middle;

    img {
      width: 100%;
    }
  }

  &__title {
    position: fixed;
    top: 50%;
    text-align: center;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    font-size: 3em;

    a {
      color: #fff;
    }

    a:hover {
      font-style: italic;
    }
  }

  &__left {
    height: 100%;
    width: 50%;
    background: #000;
    display: inline-block;
  }

  &__right {
    height: 100%;
    width: 50%;
    background: #3C2ADD;
    display: inline-block;
    position: absolute;
  }
}
